<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="display: none">{{body}}</div>
    <div class="body">
        <svg width="960" height="600"></svg>
    </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
